* {
  margin: 0;
}
.container {
  background: #7c4848;
  height: 100px;
  text-align: center;
  padding: 20px;
}

.input {
  margin: 20px;
}

.para {
  background-color: #23bed3;
  height: 100px;
  text-align: center;
  padding-top: 50px;
}
